<header class="header">
  <div class="box">
  <h1>Github PUsh</h1>
  <nav> 
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Projekte</a>
    <a href="">Kontakt</a>
  </nav>
  <p></p>
</div>
  
</header>
