<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="grid imprint">
  <%- include('components/header') %>
 <h1>Impressum</h1>
 <p>Lorem ipsum</p>
 <p>dksajfnsifbiobjn</p>
  <%- include('components/footer') %>
</body>

</html>
